#menuItemCheckUpdates > .label {
	-fx-graphic: url("menu_icons/globe.png");
}

#menuItemAbout > .label {
	-fx-graphic: url("menu_icons/alert.png");
}

#menuItemP1 > .label {
	-fx-graphic: url("menu_icons/calendar.png");
}

#menuItemP2 > .label {
	-fx-graphic: url("menu_icons/event.png");
}

#menuItemP3 > .label {
	-fx-graphic: url("menu_icons/dumbbell.png");
}

#menuItemExit > .label {
	-fx-graphic: url("menu_icons/cancel.png");
}